<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{.title}}</title>
    <meta name="keywords" content="{{.keywords}}"/>
    <meta name="description" content="{{.description}}"/>

    <style>
        .wrapper {
            max-width: 1500px;
            width: 90%;
            margin: 0 auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            background: #fff;
        }

        .content {
            margin: 0 0 1em 0;
            padding: 0.8em 1.5em 1.5em;
            box-shadow: 0 0 4px #ddd;
            border: 1px solid #ddd;
            background: #fff;
        }
    </style>
</head>
<body>
<section class="wrapper">
    <div class="content">{{.content}}</div>
</section>
</body>
</html>